*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}
html{
  background-color: #212121;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.note{
  padding: 1rem;
  background-color: antiquewhite;
  border-radius: 1rem;
  max-width: 20rem;

}
.notes{
  display: flex;
  justify-content: center;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 3rem;
  
}